:root {
	--orange: #F7A743;
	--accent-500: #FBB35A;
	--graphite-100: #F5F5F4;
	--graphite-500: #857C75;
	--graphite-800: #302B28;
	--graphite-900: #1B1918;
	--graphite-1000: #0D0C0C;
	--suisse-font: 'Suisse Intl', sans-serif;
	--inter-font: 'Inter', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	background-color: var(--graphite-1000);
	color: var(--graphite-100);
	line-height: 1.5;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: var(--inter-font);
}

button {
	border: none;
	background: none;
}

.button {
	background-image: linear-gradient(90deg, #FFC174, #F5A139);
	color: var(--graphite-900);
	border-radius: 12px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding: 20px 26px;
	font-family: var(--inter-font);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	width: 100%;
}

.button.button-small {
	padding: 12px 26px;
}

.button:hover:after {
	left: 120%;
}

.button span {
	z-index: 20;
}

.button:after {
	background: #fff;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .2;
	position: absolute;
	top: -50px;
	transform: rotate(35deg);
	transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
	width: 50px;
}