:root {
	--orange: #F7A743;
	--accent-500: #FBB35A;
	--accent-700: #D97C07;
	--graphite-100: #F5F5F4;
	--graphite-300: #D7D3D0;
	--graphite-400: #A9A29D;
	--graphite-500: #857C75;
	--graphite-800: #302B28;
	--graphite-900: #1B1918;
	--graphite-1000: #0D0C0C;
	--suisse-font: 'Suisse Intl', sans-serif;
	--inter-font: 'Inter', Arial, sans-serif;
	--text-gradient: linear-gradient(-45deg, #ffbe70, #fff);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 300px;
	background-color: var(--graphite-1000);
	color: var(--graphite-100);
	line-height: 1.5;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: var(--inter-font);
}

button {
	border: none;
	background: none;
	font-family: inherit;
}

.button {
	background-color: #D97C07;
	background-image: linear-gradient(90deg, #FFC174, #F5A139);
	color: var(--graphite-900);
	border-radius: 12px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	font-family: var(--inter-font);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	text-decoration: none;

}

.button.button-small span {
	padding: 12px 26px;
}

.button.button-xs span {
	padding: 8px 16px;
}

.button::after {
	content: '';
	background-color: rgba(217, 124, 7, 0);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transition: background 0.3s ease-out;
}

.button:hover::after {
	background-color: rgba(217, 124, 7, 0.4);
}

.button:active::after {
	background-color: rgba(217, 124, 7, 0.7);
}

.button span {
	z-index: 2;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 26px;
}

h3,
h1,
h2 {
	color: white;
	background: var(--text-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -0.7px;
}