.form-success {}

.form-success .btn-back {
    color: var(--accent-500);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.form-success h3 {
    font-size: 36px;
    line-height: 1.2;
    margin: 24px 0 8px;
}

.form-success .caption {
    font-size: var(--graphite-500);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 32px;
}

.form-success .button {
    width: 100%;
}