.screens-mobile,
.screens-desktop {
    display: none;
}

@media screen and (min-width: 961px) {
    .screens-desktop {
        display: block;
    }
}

section#screens-wrap {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 48px;
    position: relative;
    overflow: hidden;
    height: 100vh;
    z-index: 1;
}

.screens-wrap {
    border-radius: 40px;
    overflow: hidden;
}

@media screen and (max-width: 1240px) {
    section#screens-wrap {
        padding: 0 32px;
    }
}

@media screen and (max-width: 960px) {
    .screens-mobile {
        display: block;
    }

    section#screens-wrap {
        padding: 0 24px;
        height: auto;
    }

    .screens-wrap {
        border-radius: 0;
    }

    #screens-wrap #screen-slide-2 {
        display: none;
        opacity: 0;
        transition:
            opacity 1s ease,
            transform 1s ease;
    }

    #screens-wrap #screen-slide-2.visible {
        display: block;
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    section#screens-wrap {
        padding: 0 0 0 24px;
    }
}